.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .navbar {
    position: fixed;
    /*基準を画面の左上に*/
    top: 0;
    left: 0;
    /*余白が入らないように*/
    margin: 0;
    /*以下装飾*/
    width: 100%;
    z-index: 99;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 600;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

.blank- {
  height: 300px;
  animation-delay: 10s;
}
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  h1 {
    margin-bottom: 0.3rem;
  }

  .h1-text {
    margin-bottom: 0.3rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .h1-title-2 {
    margin-bottom: 5rem;
  }

  h2 {
      font-weight: 600;
      margin-bottom: 45px;
  }

  h3 {
      font-size: 21px;
      font-weight: 600;
      margin-top: 2px;
  }

  h4  {
      font-size: 19px;
      font-weight: 600;
  }

  h5 {
        font-size: 16px;
      font-weight: 400;
  }

  #scroll {
    display: none;
    padding-top: 10px;
  }

  .hop-text {
    animation: hop .5s ease infinite alternate;
  }
  
  @keyframes hop{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-10px);}
  }

  a {
    padding-top: 80px;
  }
  a span {
    position: absolute;
    top: 510px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #1d19196b;
    border-bottom: 1px solid #1d1919;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  a span:nth-of-type(2) {
    top: 525px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  a span:nth-of-type(3) {
    top: 540px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .price {
      font-size: 16px;
      font-weight: 600;
  }

  .center  {
      margin: 0 auto;
  }

  .card-header {
      font-weight: 600;
  }

  img {
      width: 425px;
  }

  .top-height  {
    height: 70vh;
  }

  form {
      margin-top: 30px;
  }
  br:after {
      margin-right: -.333em;
      content:””;
    }
  .mediaBr {
      display: none;
  }

  .row-content {
      margin-top: 1.2rem;
  }

  .mb-10 {
      margin-bottom: 10rem !important;
  }

  .mb-80 {
    margin-bottom: 80px !important;
  }

  .center {
      margin: 0 auto;
  }


@media (max-width: 575.98px) {  }

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) {}